      #map,
      #range {
        position: absolute;
      }
      #range {
        z-index: 1;
      }
      header {
        font-size: 35px;
        font-weight: bold;
      }
      header img {
        vertical-align: bottom;
      }
      #fontSizeInput {
        width: 35px;
      }
	  	/* Add some basic styles to the button */
	button {
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	}

	#blizzardButton {
	width: 180px;
	text-align: center;
	background-color: white;
	color: black;
	}

	#blizzardButton:hover {
	background-color: grey;
	}

	#portalButton {
	width: 180px;
	text-align: center;
	background-color: aqua;
	color: black;
	}

	#portalButton:hover {
	background-color: navy;
	color: white;
	}

	#eraserButton {
	width: 80px;
	text-align: center;
	background-color: #dd9d90;
	color: black;
	}

	#eraserButton:hover {
	background-color: #c89790;
	}
		
	#stopButton {
	background-color: white;
	color: white;
	}

	#stopButton:hover {
	background-color: white;
	}
		
	#undoButton {
	width: 80px;
	text-align: center;
	background-color: #d8482e;
	color: black;
	}

	#undoButton:hover {
	background-color: #c13e27;
	}

	#resetButton {
	width: 112px;
	text-align: center;
	background-color: grey;
	color: white;
	}

	#resetButton:hover {
	background-color: black;
	color: white;
	}

	#mapDirectoryButton {
	background-color: white;
	color: black;
	}

	#mapDirectoryButton:hover {
	background-color: grey;
	}
		
	#zoomInButton:hover {
	background-color: #ababab;
	}
		
	#zoomOutButton:hover {
	background-color: #ababab;
	}
